# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pkl
*.pickle
*.log

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/

# PyCharm / IntelliJ
.idea/

# Other editors
*.sublime-project
*.sublime-workspace

# OS-SPECIFIC FILES
# macOS
.DS_Store
.AppleDouble
.LSOverride
__MACOSX/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# LOGS & TEMP
logs/
*.log
tmp/
temp/
*.tmp
*.bak
*.swp
*.swo

# Pull requests list
pullrequests-list.txt